$light-gray: rgba(248, 248, 248, 0.98);
$dark-gray: rgba(40, 40, 40, 1);
$medium-gray: rgba(198, 198, 198, 1);
$semi-dark-gray: rgba(120, 120, 120, 1);

$eeu-color-orange: #FEA348;
$eeu-color-green: #62C46F;
$eeu-color-dark-green: #4E9D59;
$eeu-color-dark-green2: #6FAD59;

$stella_green:rgb(39, 121, 117);
$dark_brown: #1E1618;
$lighter_brown: #331813;
$light_brown: #773714;
$menu_font_size: 1.1rem;
