@import "variables";

.ck-editor__editable {
    min-height: 300px;
    @apply border border-gray-500;
}

.ck-rounded-corners .ck.ck-editor__editable:not(.ck-editor__nested-editable), .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
    @apply border border-gray-300 px-10;
    border-top: none;
}

.ck-rounded-corners {
    border-radius: 0 !important;
}

.cms-table {
    color: $semi-dark-gray;
    @apply font-sans text-sm border-collapse shadow-md;
}

.cms-table thead {
    //color: $dark-gray;
    background: $semi-dark-gray;
    @apply border-0;
}

.cms-table thead tr {
    @apply py-4 text-sm text-gray-100;
}

.cms-table tr:nth-child(2n) {
    background: $light-gray;
    @apply border-b border-t border-gray-200;
}

.cms-mgmt-btn {
    @apply rounded px-1 font-light text-yellow-600 mx-2;
}

.label {
    font-style: Courier !important;
    @apply inline-block text-base w-full my-4 flex flex-wrap items-center;
}


.form-control {
    border-color: $medium-gray;
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm;
}

.form-control.error, .form-control.is-invalid {
    border-color: rgba(229, 80, 20, 0.7) !important;
}

.invalid-feedback {
    @apply text-red-500 font-semibold mt-3;
}

.search-btn {
    @apply px-5 py-2 bg-gray-600 text-gray-100 rounded md:ml-4;
}


.cms-side-navbar {

    @apply bg-white min-h-screen border border-t-0 text-gray-500;

    @media (max-width: 767px) {
        @apply w-max fixed z-50 top-0 bg-white;
    }

    @media (min-width: 768px) {
        width: 300px;
        max-width: 300px;
        @apply flex flex-none;
    }
}

.cms-main {
    @media (max-width: 767px) {
        @apply w-full;
    }
    @media (min-width: 768px) {
        width: calc(100vw - 330px) !important;
    }
}

/**CMS side navbar**/
aside.cms-side-navbar > .navbar {
    @apply list-none leading-loose w-full h-screen overflow-x-hidden overflow-y-auto;
}

aside.cms-side-navbar > .navbar > li {
    @apply border-b py-3;
}

aside.cms-side-navbar > .navbar > li > a {
    @apply flex justify-start items-center px-2 text-sm px-4;
}

aside.cms-side-navbar > ul > li.expanded > ul.dropdown {
    @apply flex flex-col leading-loose items-start;
}

aside.cms-side-navbar > ul > li.collapsed > ul.dropdown {
    @apply hidden;
}

aside.cms-side-navbar > ul > li > ul > li {
    @apply px-2 hover:text-gray-700 w-full pl-6;
}

aside.cms-side-navbar > ul > li > ul > li:first-child {
    @apply mt-4 pt-3 border-t;
}

aside.cms-side-navbar > ul > li > ul > li > a {
    @apply text-sm;
}

.breadcrump {
    @apply flex flex-wrap justify-start items-center w-full border-b pb-4 mb-4;
}

.breadcrump ul {
    @apply list-none flex flex-wrap w-full;
}

.breadcrump ul li {
    @apply mr-4 text-xs text-blue-500 uppercase;
}

.breadcrump ul li:not(:last-child)::after {
    content: '/';
    @apply ml-3 text-gray-500;
}

.breadcrump ul li:last-child {
    @apply text-gray-500;
}

/**********Header nav**********/

nav.cms-header-nav {
    @apply w-full md:px-8 border-b shadow-sm px-4 text-xl;
}

.cms-header-nav .nav-brand-cont {
    @apply flex flex-wrap items-center w-full lg:h-20 bg-transparent;
}

.cms-header-nav .nav-brand-cont .nav-brand {
    @apply w-max flex-none items-center flex;
}

.cms-header-nav .nav-brand-cont .nav-brand .app-name {
    @apply ml-3 py-3 text-gray-600 hidden md:block;
}

.cms-header-nav .navbar {
    @apply flex-grow items-center text-base;
}

.cms-header-nav .navbar-container {
    @apply flex flex-grow items-center flex-wrap justify-end text-base;
}

.cms-header-nav .navbar-container .navbar {
    @apply list-none flex justify-end items-center;
}

.cms-header-nav .navbar-container .navbar .nav-item {
    @apply mx-3 md:mx-2;
}

.cms-header-nav .navbar-container .navbar .nav-link {
    @apply items-center flex h-full py-3;
}

.cms-header-nav .dropdown:hover {
    @apply border-b-2;
    border-color: $eeu-color-orange;
}

.cms-header-nav .navbar .dropdown > .dropdown-menu {
    @apply border absolute z-50 bg-white leading-loose shadow-lg items-start h-auto w-max top-14 hidden;
}

.cms-header-nav .navbar .dropdown:last-child {
    @apply ml-8;
}

.cms-header-nav .navbar .dropdown:last-child > .dropdown-menu {
    @apply right-6;
}

.cms-header-nav .navbar .dropdown:hover > .dropdown-menu,
.cms-header-nav .dropdown:active > .dropdown-menu {
    @apply flex flex-col;
}

.cms-header-nav .navbar .dropdown > .dropdown-menu .dropdown-item .nav-link {
    @apply w-full px-8 py-1 m-0;
}

.cms-header-nav .navbar .dropdown > .dropdown-menu .dropdown-item:not(.hover) .nav-link.active {
    color: $eeu-color-orange;
    background: #fff !important;
}

.cms-header-nav .navbar .dropdown > .dropdown-menu .dropdown-item:hover .nav-link,
.cms-header-nav .navbar .dropdown > .dropdown-menu .dropdown-item:active .nav-link {
    @apply text-white;
    background: $eeu-color-orange;
}
