@import "custom_variables";

/****Navigation***/
.header-nav {
    @apply w-full;
}

.header-nav > .container {
    @apply flex flex-wrap items-center w-full bg-green-500;
}

.header-nav > .container > .brand-lg {
    @apply flex-none justify-start items-center w-max h-full hidden;
}

.header-nav > .container > .brand-lg .org-name {
    @apply text-green-700 text-xl font-semibold ml-3 uppercase;
}

.header-nav > .container > .brand-sm {
    @apply flex-none shadow-lg flex flex-wrap w-screen h-full justify-between items-center text-white border-b;
}

#menuToggle .button-container {
    @apply flex flex-wrap items-center justify-end;
}

#menuToggle button {
    @apply text-xl p-4 focus:outline-none focus:bg-green-700 focus:text-green-100;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgba(4, 120, 87);
    border-radius: 3px;
}

.header-mini-menu-lg {
    @apply flex-grow justify-end h-full items-center hidden text-gray-600;
}

.header-mini-menu-sm {
    @apply right-0 px-6 py-4 block;
}

.header-mini-menu-sm .nav-item {
    @apply text-sm text-gray-700 underline;
}

.search-lg {
    @apply w-96;
}

.search-sm {
    @apply w-screen bg-white shadow-lg;
}

.main-nav {
    @apply bg-gray-600 top-0 z-50 w-max h-screen fixed shadow-lg;
}

.main-nav .brand-sm {
    @apply flex items-center py-2 px-4 bg-gray-600 w-full border-b border-gray-500;
}

.main-nav .brand-sm .org-name-sm {
    @apply text-gray-100 ml-4 uppercase;
}

.main-nav > nav {
    @apply text-base max-h-screen overflow-y-auto capitalize text-gray-200 h-full;
}

.main-nav > nav .nav-item {
    @apply py-2;
}

.main-nav > nav .nav-item .nav-link {
    @apply px-4;
}
.main-nav > nav .nav-item .nav-link:active{
    @apply font-bold;
}

.main-nav > nav .dropdown-menu {
    @apply flex items-end flex-col w-max z-10 leading-loose hidden ml-4 mt-3 pt-2;
}

.bg-orange-500 {
    background-color: #FEA348;
}

.hover-trigger:hover > .hover-target {
    display: block;
}

@media (min-width: 768px) {

    .header-nav {
        @apply px-8;
    }

    .header-nav > .container {
        @apply bg-transparent;
    }

    .header-nav > .container > .brand-lg {
        @apply flex;
    }

    .header-nav > .container > .brand-sm {
        @apply hidden;
    }

    .header-mini-menu-lg {
        @apply flex;
    }

    .header-mini-menu-sm {
        @apply hidden;
    }

    .search-sm {
        @apply hidden;
    }

    .main-nav {
        @apply bg-green-500 px-10 mt-1 w-full h-auto sticky shadow-none;
    }

    .main-nav .brand-sm {
        @apply hidden;
    }

    .main-nav > nav {
        @apply text-green-100 h-auto;
    }

    .main-nav > nav .nav-item{
        @apply py-5 h-auto;
    }
    .main-nav > nav .nav-item:hover{
        @apply bg-green-600 border border-2;
    }

    .main-nav > nav .dropdown-menu {
        @apply bg-green-600 ml-0 rounded-b border border-green-600 absolute top-12 shadow-lg;
    }

    .main-nav > nav .nav-item .nav-link{
        @apply px-2;
    }
}

@media (min-width: 1024px) {
    .header-nav > .container {
        @apply h-20;
    }
}
